* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* html {
  overflow: hidden !important;
  overflow-x: hidden;
} */

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  /* background-color: #101010; */
}

/* .bodyReplacement {
  overflow-x: hidden;
  border: 1px solid red;
} */

.infoDiv {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}

.infoDiv p {
  text-decoration: underline;
  opacity: 0.5;
  transition: opacity .2s ease-in;
}

.infoDiv p:hover {
  opacity: 1;
}

.fa-circle-info {
  color: #EE8434;
  transform: scale(1.2);
  position: relative;
}

.waveDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: -100%;
}


.pusher {
  background-color: #EE8434;
  width: 100%;
  height: 0%;
}

.wave {
  margin-top: -1px;
  height: 100%;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.parent {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  gap: 2rem;
  padding: 6rem 1rem;
  flex-wrap: wrap;
}

.div1 {
  position: relative;
  height: 100%;
  width: 30%;
  min-width: 560px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.div2 {
  height: 100%;
  width: 30%;
  min-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3%;
}
.div3 {
  height: 100%;
  width: 30%;
  min-width: 560px;
  display: flex;
  flex-direction: column;
}

.overview,
.calories,
.activity {
  width: 100%;
  height: 25%;
  background-color: #1d1d1d;
  border-radius: 20px;
}

.recipes,
.todoList {
  background-color: #1d1d1d;
  width: 100%;
  height: 85%;
  border-radius: 20px;
}

/* Overview container */


.inputCalories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.leftPartOverview {
  position: relative;
  height: 100%;
}

.inputCalories p {
  font-weight: 600;
  font-size: 0.8rem;
  opacity: 0.5;
}

.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20%;
}

.circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  /* border: 5px solid #dd0909;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.1rem;
}

ul {
  list-style: none;
}

.statistics {
  opacity: 0;
  display: none;
}

.statistics li {
  padding: 0.3rem 0.2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  opacity: 0;
}

.statistics strong {
  font-weight: lighter;
}

p,
h1 {
  text-align: center;
  font-weight: 400;
  font-size: .9rem;
}

h1 {
  font-size: 1.5rem;
}

.dot1,
.dot2,
.dot3 {
  position: absolute;
  top: 50%;
  left: -1.5rem;
  border-radius: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
}

.dot1 {
  background-color: #5a4d7e;
}

.dot2 {
  background-color: #ebd176;
}

.dot3 {
  background-color: #91f391;
}


#caloriesInput {

background-color: transparent;
border: none;
outline: none;
font-family: inherit;
text-align: center;
padding: 1rem;
font-size: 1rem;
font-weight: 500;
cursor: pointer;
overflow: hidden;
width: 8rem;
height: 8rem;
border-radius: 50%;
}

#caloriesInput::placeholder {
  font-size: 2rem;
  color: white;
  font-family: inherit;
  font-weight: bold;
}

#myChart {
  height: 8rem;
}
canvas{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.3rem;
}

.myChartDiv {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#caloriesForm {
  /* border: 1px solid red; */
  position: relative;
}


/* Calories container --> Add a meal */

.fa-utensils {
  position: absolute;
  color: white;
  transform: scale(20);
  bottom: 15%;
  left: 15%;
  opacity: 0.1;
  color: black;
}

.fa-arrow-down {
  padding-right: 0.5rem;
  color: #5024e0;
  transform: scale(1);
}

.arrowDownToggler {

padding-right: unset;
padding-left: 0.5rem;
transform: scale(1) rotate(180deg);

}

.errorMessage {
  color: rgb(138, 13, 13);
}

#addedMeals {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none; /*Hides scrollbar*/
  scroll-behavior: smooth;
  gap: 1rem;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;     /* IE 10+ */
}

.addedMeal {
  /* background-color: blue; */
  width: 100%;
  background-color: rgb(24, 23, 23);
  padding: 1rem 1.5rem;
  -webkit-box-shadow: -2px 3px 5px 0.2px #000000;
  box-shadow: -2px 3px 5px 0.2px #000000;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  cursor: pointer;

}

.addedMealContainer {
  width: 100%;
  z-index: 1;
  position: relative;

}
.addedMealContainerFinal {
  width: 100%;
  z-index: 1;
  position: relative;
}

.fa-spinner {
  transform: scale(1.3);
  color: #5f5a5a;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from{ transform: scale(1.3) rotate(-360deg); }
  to{ transform: scale(1.3) rotate(360deg); }
}

.addedMeal p {
  font-size: 0.9rem;
}

.calories {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
  padding: 2rem 5rem;
  overflow: hidden;
}


.calories h1 {
  font-weight: 400;
  font-size: 1.5rem;
}

.add {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

i  {
  transform: scale(2.5);
  color: #41f541;
}

.fa-circle-plus {

transition: all 0.2s ease-out;

}

.fa-circle-plus:hover {

  transform: rotate(45deg) scale(2.5);

}

.inputMeal {

  border: none;
  padding: 0.5rem 1rem;
  background-color: #101010;
  border-radius: 10px;
  font-weight: 500;
  -webkit-box-shadow: 2px 2px 5px 1px #000000; 
box-shadow: 2px 2px 5px 1px #000000;

}

.inputMeal:focus {
  outline: none;
}

.addMealButton {

  padding: 0.5rem 1.5rem;
  background-color: #714fde;
  cursor: pointer;
  font-family: inherit;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 1rem;
  -webkit-box-shadow: 2px 2px 2px 2px #5024e0; 
box-shadow: 2px 2px 2px 2px #5024e0;

}

.formAddMeal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputMeal{
  width: 100%;
}

.listOfNutrients {
  display: none;
  width: 100%;
  background-color: rgb(31, 30, 30);
  padding: 1rem 1.5rem;
  -webkit-box-shadow: -1px 2px 5px 0.1px #000000;
  box-shadow: -1px 2px 5px 0.1px #000000;
  max-width: 100%;
  flex-direction: column;
  z-index: 1;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
}

.listOfNutrients i {
  color: white;
  transform: scale(1);
  opacity: 1;
}

.listOfNutrients p {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  opacity: 0;
}

.listOfNutrientsToggler {
  display: flex;
}

/* To-do list */

.fa-clipboard-list {
  position: absolute;
  color: white;
  transform: scale(20);
  bottom: 15%;
  left: 15%;
  opacity: 0.1;
  color: black;

}

.todoList {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 2rem 5rem;
}

.addTodo {
  padding: 0.5rem 1.5rem;
  background-color: #714fde;
  cursor: pointer;
  font-family: inherit;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 1rem;
  -webkit-box-shadow: 2px 2px 2px 2px #5024e0; 
  box-shadow: 2px 2px 2px 2px #5024e0;
}

.div1 form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#input::placeholder {
  color: white;
  font-family: inherit;
}

#input {
  border: none;
  padding: 0.5rem 1rem;
  background-color: #101010;
  flex: 1;
  border-radius: 10px;
  font-weight: 500;
  -webkit-box-shadow: 2px 2px 5px 1px #000000; 
  box-shadow: 2px 2px 5px 1px #000000;
  width: 100%;
}

#input:focus {
  outline: none;
}

#toDos {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  padding: 1rem 0;
  gap: 1rem;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none; /*Hides scrollbar*/
  scroll-behavior: smooth;
}

.toDoText {
  cursor: default;
}

.toDoEl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(24, 23, 23);
  padding: 1rem 1.5rem;
  -webkit-box-shadow: -2px 3px 5px 0.2px #000000;
  box-shadow: -2px 3px 5px 0.2px #000000;
  width: 100%;
  z-index: 1;
  flex-wrap: wrap;
}

.toDoEl p {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  max-width: 70%;
  word-wrap: break-word; /*Makes the paragraph go to the next line. */
}

.toDoOptions {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

.fa-check,
.fa-trash-can {
  /* transform: scale(1.3); */
  font-size: 0.4rem;
  color: rgb(207, 207, 207);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.fa-check:hover {
  color: #41f541;
}

.fa-trash-can:hover {
  color: rgb(141, 28, 28);
}

/* Recipes container */

.recipes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 4rem;
  justify-content: space-between;
  flex: 1;
  gap: 2.5rem;
}

.recipe {
  width: 100%;
  flex: 1;
  background-color: rgb(24, 23, 23);
  border-radius: 20px;
filter: brightness(0.9);
transition: filter 0.2s ease-in;
position: relative;;
}

.recipe:hover {

filter: brightness(1);
cursor: pointer;


}

.highlight {

color: #714fde;
font-weight: 500;

}

.recipeTag {
  font-family: inherit;
  font-weight: bold;
  background:rgba(255,255,255, 0.8);
  display: inline;
  color: #101010;
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  padding: 0.6rem;
  border-radius: 20px;
  pointer-events: none;


}


#recipeTextContainer {
  display: none;
  width: 800px;
  height: 700px;
  z-index: 99;
  color: white;
  background-color: #1a1818;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: auto;

}


#recipeText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 2rem 3rem;
}

#recipeImage {

width: 250px;
height: 250px;
border-radius: 50%;
box-shadow: 0px 0px 700px 100px rgba(39, 35, 35, 0.95);

}

#recipeContent p {
  text-align: left;
}

#recipeContent h1 {
  text-align: left;
  font-weight: bold;
  color:#714fde;
}

#closeRecipe {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}


.fa-xmark {
  color: white;
  transition: color 0.2s ease-in;
}


.fa-xmark:hover {
  color:rgb(141, 28, 28);
}

#textIngredients {
  list-style: initial;
  padding: 1rem 0;
}

#textIngredients li {
  padding: 0;
  margin-left: 1rem;
}

#textRecipe {
  font-size: 1rem;
}


/* Responsive */

@media only screen and (max-width: 600px) {
 
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  html {
    overflow-x: hidden;
  }

 
  .parent {
  height: 100%;
  padding: 10vh 1rem;
 }

 .div1, .div2, .div3 {
  height: 90vh;
  min-width: unset;
  width: 100%;
 }

 .infoDiv {
  top: 1.5rem;
 }

 .todoList {
  padding: 2rem 1rem;
 }

.toDoOptions {
  gap: 2rem;
}

.div3, .div1 {
  order: 3;
}

}

@media only screen and (max-width: 500px) {

.toDoOptions{
  gap: 1.5rem;
}

  .circle {
    width: 85px;
    height: 85px;
  }

  .statistics li {
    padding: 0.3rem;
    font-size: 0.9rem;
  }
  
  .dot1,
  .dot2,
  .dot3 {
    width: 10px;
    height: 10px;
  }

  .calories, .recipes {
    padding: 2rem 1rem;
  }

  .formAddMeal {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .inputMeal{
    width: 100%;
  }

 }